<?xml version="1.0" encoding="utf-8" ?>
<!--
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
	<connectionStrings>
		<add name="CalculadoraConnection" connectionString="Data Source=172.16.202.45;Initial Catalog=BD_B88682;Integrated Security=False;User ID=B88682;Password=B88682." />
	</connectionStrings>
    <appSettings>

    </appSettings>
</configuration>
